<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :category_id, "Categorie" %> : 
    <select name="question[category_id]" id="question_category_id">
      <% for cat in Category.all %>
        <%= raw  "<option value='#{cat.id}'>#{cat.libelle}</option>" %>
      <% end %>
    </select>    
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :reponse %><br />
    <%= f.text_field :reponse %>
  </div>
  <div class="field">
    <%= f.label :points %> :
    <select name="question[points]" id="question_points">
      <% 20.times { |n| %>
        <%= raw  "<option value='#{n+1}'>#{n+1}</option>" %>
      <% } %>
    </select>
  </div>
  <div class="actions">
    <%= f.submit "Ajouter" %>
  </div>
<% end %>
